.post {
  background: #eee;
  height: 150px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid orange;
  cursor: pointer;
}

.post-title {
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}