body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
}

.App-header {
    display: flex;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.main-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/* POST STYLES */

.post-deck {
    position: sticky;
    left: 0;
    z-index: 100;
    background: aquamarine;
    width: 350px;
    height: 800px;
    overflow: auto;
    text-align: left;
    margin: 0 0 10px;
    flex: 0 0 auto;
}

.post-deck-header {
    position: sticky;
    background: orange;
    top: 0;
}

.post {
    background: #eee;
    height: 150px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid orange;
    cursor: pointer;
}

.post-wrapper {
  padding: 5px;
}

.post-title {
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}

/* COMMENT STYLES */

.comment-deck {
    background: papayawhip;
    width: 350px;
    height: 800px;
    overflow: auto;
    text-align: left;
    margin: 0 20px;
    flex: 0 0 auto;
}

.comment {
    background: #eee;
    height: 150px;
    margin: 10px 0;
    border: 1px solid orange;
    cursor: pointer;
    padding: 5px;
}

.comment-deck-header {
    position: sticky;
    background: plum;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.comment-deck-header span {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.comment-name {
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
}