body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.App-header {
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.post-deck {
  background: aquamarine;
  width: 350px;
  height: 700px;
  overflow: auto;
  text-align: left;
}

.post {
  background: #eee;
  height: 150px;
  margin-bottom: 10px;
}

.post-deck-header {
  position: sticky;
  background: orange;
  top: 0;
}

.post-deck-header h2 {
  margin-top: 0;
}

.post-title {
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  overflow: hidden; 
}