body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.App {
    background-color: #282c34;
    min-height: 100vh;
}

.App-link {
    color: #61dafb;
}